<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>register</title>
</head>

<body>
  <div id="main">
    <div id="register-form">
      <h2 id="logim-title">Registrarse</h2>   
      <form action="">
        <input type="text" placeholder="Nombres" required>
        <input type="text" placeholder="Apellidos" required>
        <input type="text" placeholder="Nombre de Usuario" required>
        <input type="text" placeholder="Correo" required>
        <input type="text" placeholder="Celular" required>
        <input type="password" placeholder="Contraseña" required>
        <button>Registrarse</button>
      </form>
      <p id="login-link" routerLink="">Iniciar Sesión</p>   

    </div>

  </div>
</body>
</html>